.hero-container .hero-wrapper {
    max-width: unset;
    padding: 0;
}

.hero {
    display: grid;
    isolation: isolate;
}

.hero > div {
    grid-area: 1 / 1;
    min-width: 0;
}

.hero picture,
.hero picture > img {
    display: block;
    width: 100%;
    height: auto;
}

.hero > div:not(:has(picture)) {
    z-index: 1;
    align-self: center;
    padding: 40px 24px;
}

.hero h1 {
    max-width: 1200px;
    margin-inline: auto;
    color: var(--background-color);
}

.hero > div:has(picture) {
    display: none;
}

.hero > div:nth-child(1):has(picture) {
    display: block;
}

@media (width < 900px) {
    .hero > div:nth-child(2):has(picture) {
        display: block;
    }

    .hero:has(> div:nth-child(2) picture) > div:nth-child(1) {
        display: none;
    }
}

@media (width < 600px) {
    .hero > div:nth-child(3):has(picture) {
        display: block;
    }

    .hero:has(> div:nth-child(3) picture) > div:nth-child(1),
    .hero:has(> div:nth-child(3) picture) > div:nth-child(2) {
        display: none;
    }
}
